/* this is a comment */

body {
    font-family:"Century Gothic";
    text-align: justify;

    background-color: white;

    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 12%;
    padding-right: 32%;
}

p {
    color:black;
}

.highlight_name {
    color:orange;
}

.button {
    display: inline-block;
    width: 54vw; /* 60% of the viewport width */
    height: 15vh; /* 15% of the viewport height */
    border: 1px dotted black; /* Black dotted border */
    background-color: transparent; /* Transparent background color */
    font-size: 1.5em; /* Increase the font size */
    text-align: center; /* Center-align the text */
    line-height: 15vh; /* Vertical alignment based on button height */
    color: black; /* Set text color to black */
    text-decoration: none; /* Remove underline */
}

.button:hover {
    background-color: orange; /* Orange background color on hover */
    color: white; /* Set text color to black */
}
